/////////////////////////////
// Custom button styles.
/////////////////////////////

%button-attributes {
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  text-transform: uppercase;
}

.button {
  @extend %button-attributes;

  &:not(.secondary) {
    @include psuedo-decorator;

    &:after {
      transition: all .2s ease;
    }

    &:hover:after {
      background-color: $body-font-color;
    }
  }

  &.secondary {
    padding: $secondary-button-padding;
  }

  &.small {

    &:after {
      height: rem-calc(5);
    }
  }
}

.text-button {
  //@include psuedo-decorator;
  //@include button();
  //@extend %button-attributes;
  background: transparent;
  padding: 0;

  &:hover {
    background: transparent;
  }
}

.primary-button {
  background-color: $primary-color;
  color: $body-font-color;
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  text-transform: uppercase;
  transition: all .2s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
    color: $body-font-color;
  }
}

