////////////////////////
// Basic elements
///////////////////////

blockquote {
  font-size: $cite-font-size;

  @include breakpoint(large) {
    font-size: rem-calc(20);
  }

  p {
    line-height: 1.2;
  }

  cite {
    text-align: right;
  }
}

.inline {
  display: inline;
}