<ul class="menu">
  <li><a href="http://xprize.org/about/who-we-are" target="_blank">Who We Are</a></li>
  <li><a href="http://xprize.org/about/what-is-an-xprize" target="_blank">What is an XPRIZE?</a></li>
  <li><a href="http://xprize.org/about/media-room" target="_blank">Media Room</a></li>
  <li><a href="http://xprize.org/about/board-of-trustees" target="_blank">Our Board</a></li>
  <li><a href="http://xprize.org/about/foundation-partners-sponsors" target="_blank">Partners & Sponsors</a></li>
  <li><a href="http://xprize.org/about/government-partners" target="_blank">Government Partners</a></li>
  <li><a href="#">Our Team</a></li>
  <li><a href="#">Education</a></li>
  <li><a href="#">Event Calendar</a></li>
  <li><a href="#">Careers</a></li>
  <li><a href="#">Contact</a></li>
</ul>
