<ul class="menu">
  <li><a href="http://xprize.org/benefactors/vision-circle" target="_blank">Vision Circle</a></li>
  <li><a href="http://xprize.org/benefactors/innovation-board" target="_blank">Innovation Board</a></li>
  <li><a href="http://xprize.org/benefactors/spirit-of-innovation" target="_blank">Spirit of Innovation</a></li>
  <li><a href="http://xprize.org/content/entrepreneurs-circle" target="_blank">Entrepreneur's Circle</a></li>
  <li><a href="mailto:alliancesweb@xprize.org?subject=Alliances%20Website%20Inquiry" target="_blank">Join Us Today</a></li>
  <li><a href="http://ipp.biz/" target="_blank" target="_blank">Innovation Partnership Program</a></li>
</ul>