<ul class="menu-minipanel-xprize-submenu menu-minipanel-panel hide-for-large">
  <li>
  <div class="submenu">
  <ul class="menu">
    <li><a href="http://xprize.org/grand-challenges/energy-environment" target="_blank">Energy & Environment</a></li>
    <li><a href="http://xprize.org/grand-challenges/exploration" target="_blank">Exploration</a></li>
    <li><a href="http://xprize.org/grand-challenges/global-development" target="_blank">Global Development</a></li>
    <li><a href="http://xprize.org/grand-challenges/learning" target="_blank">Learning</a></li>
    <li><a href="http://xprize.org/grand-challenges/life-sciences" target="_blank">Life Sciences</a></li>
  </ul>
</div>
  </li>
</ul>
<ul class="menu show-for-large">
  <li><a href="http://xprize.org/grand-challenges/energy-environment" target="_blank">Energy & Environment</a></li>
  <li><a href="http://xprize.org/grand-challenges/exploration" target="_blank">Exploration</a></li>
  <li><a href="http://xprize.org/grand-challenges/global-development" target="_blank">Global Development</a></li>
  <li><a href="http://xprize.org/grand-challenges/learning" target="_blank">Learning</a></li>
  <li><a href="http://xprize.org/grand-challenges/life-sciences" target="_blank">Life Sciences</a></li>
</ul>