<ul class="menu-minipanel-xprize-submenu menu-minipanel-panel">
  <li>
  <div class="submenu">
<ul class="menu">
  <li><a href="http://www.xprize.org/xprize_competition/56" target="_blank">Adult Literacy XPRIZE</a></li>
  <li><a href="http://www.xprize.org/xprize_competition/51" target="_blank">Global Learning XPRIZE</a></li>
  <li><a href="http://www.xprize.org/xprize_competition/31" target="_blank">Wendy Schmidt Ocean Health XPRIZE</a></li>
  <li><a href="http://www.xprize.org/xprize_competition/6" target="_blank">Nokia Sensing XChallenge</a></li>
  <li><a href="http://www.xprize.org/xprize_competition/26" target="_blank">Qualcomm Tricorder XPRIZE</a></li>
  <li><a href="http://www.xprize.org/xprize_competition/11" target="_blank">Google Lunar XPRIZE</a></li>
  <li><a href="http://www.xprize.org/xprize_competition/16" target="_blank">Ansari XPRIZE</a></li>
  <li><a href="http://www.xprize.org/xprize_competition/36" target="_blank">Northrop Grumman Lunar Lander XChallenge</a></li>
  <li><a href="http://www.xprize.org/xprize_competition/46" target="_blank">Progressive Insurance Automotive XPRIZE</a></li>
  <li><a href="http://www.xprize.org/xprize_competition/21" target="_blank">Archon Genomics XPRIZE</a></li>
  <li><a href="http://www.xprize.org/xprize_competition/41" target="_blank">Wendy Schmidt Oil Cleanup XPRIZE</a></li>
  <li><a href="http://www.xprize.org/prizes/future-prizes" target="_blank">Future Prizes</a></li>
</ul>
</div>
  </li>
</ul>