<ul class="menu-minipanel-xprize-submenu menu-minipanel-panel hide-for-large">
  <li>
    <div class="submenu">
      <ul class="menu">
        <li><a href="#">Anu & Naveen Jain Women's Safety XPRIZE</a></li>
        <li><a href="#">Water Abundance XPRIZE</a></li>
        <li><a href="#">IBM Watson AI XPRIZE</a></li>
        <li><a href="#">Shell Ocean Discovery XPRIZE</a></li>
        <li><a href="#">Carbon XPRIZE</a></li>
        <li><a href="#">Adult Literacy XPRIZE</a></li>
        <li><a href="#">Global Learning XPRIZE</a></li>
        <li><a href="#">Qualcomm Tricorder XPRIZE</a></li>
        <li><a href="#">Google Lunar XPRIZE</a></li>
        <li><a href="#">Future Prizes</a></li>
      </ul>
    </div>
  </li>
</ul>
<ul class="menu show-for-large">
  <div class="col">
    <li><a href="#">Anu & Naveen Jain Women's Safety XPRIZE</a></li>
    <li><a href="#">Water Abundance XPRIZE</a></li>
    <li><a href="#">IBM Watson AI XPRIZE</a></li>
    <li><a href="#">Shell Ocean Discovery XPRIZE</a></li>
    <li><a href="#">Carbon XPRIZE</a></li>
  </div>
  <div class="col">
    <li><a href="#">Adult Literacy XPRIZE</a></li>
    <li><a href="#">Global Learning XPRIZE</a></li>
    <li><a href="#">Qualcomm Tricorder XPRIZE</a></li>
    <li><a href="#">Google Lunar XPRIZE</a></li>
    <li><a href="#">Future Prizes</a></li>
  </div>
</ul>