<ul class="menu-minipanel-xprize-submenu menu-minipanel-panel hide-for-large">
  <li>
  <div class="submenu">
<ul class="menu">
  <li><a href="#">Active Prizes</a></li>
  <li><a href="#">Past Prizes</a></li>
  <li><a href="#">Future Prizes</a></li>
  <li><a href="#">XPRIZE in India</a></li>
  <li><a href="#">Prize Book</a></li>
  <li><a href="#">Prize Development Sponsors</a></li>
  <li><a href="#">Vote on Future Prizes</a></li>
  <li><a href="#">Vote on Grand Challenges</a></li>
</ul>
</div>
  </li>
</ul>
<ul class="menu show-for-large">
  <div class="col">
    <li><a href="#">Active Prizes</a></li>
    <li><a href="#">Past Prizes</a></li>
    <li><a href="#">Future Prizes</a></li>
    <li><a href="#">XPRIZE in India</a></li>
  </div>
  <div class="col">
    <li><a href="#">Prize Book</a></li>
    <li><a href="#">Prize Development Sponsors</a></li>
    <li><a href="#">Vote on Future Prizes</a></li>
    <li><a href="#">Vote on Grand Challenges</a></li>
  </div>
</ul>