/////////////////////////
// Card styles
/////////////////////////


///////////////////////////
// Basic card overrides
///////////////////////////
.card {

  .button {

    &:hover {
      background: transparent;
    }
  }
}

///////////////////////////
// Image card
///////////////////////////
.image-card {
  margin-bottom: map_get($grid-column-gutter, 'small') / 2;

  @include breakpoint(medium) {
    margin-bottom: map_get($grid-column-gutter, 'medium');
  }

  position: relative;

  a {
    color: $white;
  }

  //&:last-child {
  //  $margin: rem-calc($-zf-bp-value);
  //
  //  margin-bottom: $margin;
  //
  //  @include breakpoint(medium) {
  //    margin-bottom: map_get($grid-column-gutter, 'medium');
  //  }
  //}

  img {
    width: 100%;
  }
}

.image-card--content {
  background-color: $white;
  padding: rem-calc(10);
  position: relative;

  p {
    color: $body-font-color;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;

    @include breakpoint(large) {
      font-size: rem-calc(14);
    }
  }

  .image-card--prize-color {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: rem-calc(5);
  }
}

/////////////////////////////////
// Card overlay content section
/////////////////////////////////
.background-image-card {
  background-position: center;
  background-size: cover;

  .card-divider {
    background: transparent;

    @include breakpoint(large) {
      padding: rem-calc(32);
    }

    @each $size, $headers in $header-styles {
      @each $header, $header-defs in $headers {
        #{$header} {
          color: $white;
        }
      }
    }
  }

  .header-decorator {
    margin-top: rem-calc(16);

    &:after {
      margin-top: rem-calc(32);
      max-width: rem-calc(155);
    }
  }

  .card-section {
    background: $background-image-card-content-bg;
    color: $white;

    @include breakpoint(large) {
      padding: rem-calc(32);
    }

    .button {
      color: $white;
    }
  }
}
