/////////////////////////
// Card styles
/////////////////////////


///////////////////////////
// Basic card overrides
///////////////////////////
%card-margin {
  margin-bottom: map_get($grid-column-gutter, 'small') / 2;

  @include breakpoint(medium) {
    margin-bottom: map_get($grid-column-gutter, 'medium');
  }

  @include breakpoint(large) {
    margin-bottom: map_get($grid-column-gutter, 'large');
  }
}

@mixin card-spacing($padding: 'all') {
  @if $padding == 'all' {
    @include breakpoint(small only) {
      padding: map_get($grid-column-gutter, 'small') / 2;
    }

    @include breakpoint(medium only) {
      padding: map_get($grid-column-gutter, 'medium') / 2;
    }
  }
  @else if $padding == 'left' or $padding == 'right' {
    @include breakpoint(small only) {
      padding-#{$padding}: map_get($grid-column-gutter, 'small') / 2;
    }

    @include breakpoint(medium) {
      padding-#{$padding}: map_get($grid-column-gutter, 'medium') / 2;
    }
  }
  @else if $padding == 'sides' {
    @include breakpoint(small only) {
      padding-left: map_get($grid-column-gutter, 'small') / 2;
      padding-right: map_get($grid-column-gutter, 'small') / 2;
    }

    @include breakpoint(medium only) {
      padding-left: map_get($grid-column-gutter, 'medium') / 2;
      padding-right: map_get($grid-column-gutter, 'medium') / 2;
    }
  }
}


.card {
  @extend %card-margin;
  position: relative;

  .card-divider,
  .card-section {
    @include card-spacing;
  }

  > img {
    @include card-spacing('sides');

    @include breakpoint(large) {
      padding-left: $card-padding;
      padding-right: $card-padding;
    }
  }

  .button {

    &:hover {
      background: transparent;
    }
  }
}

///////////////////////////
// Image card
///////////////////////////
.image-card {
  overflow: hidden;
  position: relative;
  @extend %card-margin;

  a {
    color: $white;
    display: block;
    height: 100%;
  }

  &:hover {

    .image-card--hover-content {
      opacity: 1;
    }
  }

  img {
    width: 100%;
  }
}

%image-card--overlay {
  margin-left: 0;
  margin-right: map_get($grid-column-gutter, 'small') / 2;

  @include breakpoint(medium) {
    margin-left: 0;
    margin-right: map_get($grid-column-gutter, 'medium') / 2;
  }

  @include breakpoint(large) {
    margin-left: 0;
    margin-right: map_get($grid-column-gutter, 'large') / 2;
  }
}

.image-card--top-overlay {
  @include center('x');
  position: absolute;
  top: rem-calc(10);
  width: 75%;
}

.image-card--overlay {
  @include center();
  width: 100%;
  margin-top: rem-calc(-20);

  p {
    font-weight: bold;
    color: $white;
    font-size: rem-calc(40);
    line-height: 1;
    margin: 0;
    text-transform: uppercase;

    @include breakpoint(large) {
      font-size: rem-calc(30);
    }
  }
}

.image-card--content {
  background-color: $white;
  padding: rem-calc(10);
  position: relative;

  p {
    color: $body-font-color;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;

    @include breakpoint(large) {
      font-size: rem-calc(14);
    }
  }

  .image-card--prize-color {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: rem-calc(5);
  }
}

.row.image-card--hover-content {
  @extend %image-card--overlay;
  position: absolute;
  //opacity: 0;
  height: 100%;
  opacity: 0;
  top: 0;
  transition: all .2s ease;

  h5 {
    font-size: rem-calc(40);
    line-height: 1;
    margin: 0;

    @include breakpoint(large) {
      font-size: rem-calc(30);
    }
  }


  .primary-background {
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    height: 50%;

    //h5 {
    //  line-height: 1.2;
    //
    //  @include breakpoint(small only) {
    //    font-size: rem-calc(30);
    //  }
    //}
  }

  .white-bg {
    height: 50%;
    padding: $global-padding;
  }
}

/////////////////////////////////
// Card overlay content section
/////////////////////////////////
.background-image-card {
  background-position: center;
  background-size: cover;

  .card-divider {
    background: transparent;

    //@include breakpoint(large) {
    //  padding: $card-padding;
    //}

    @each $size, $headers in $header-styles {
      @each $header, $header-defs in $headers {
        #{$header} {
          color: $white;
        }
      }
    }
  }

  .header-decorator {
    margin-top: rem-calc(16);

    &:after {
      margin-top: rem-calc(32);
      max-width: rem-calc(155);
    }
  }

  .card-section {
    background: $background-image-card-content-bg;
    color: $white;

    //@include breakpoint(large) {
    //  padding: rem-calc(32);
    //}

    .button {
      color: $white;
    }
  }
}

.card-section {

  a {
    position: relative;
    z-index: 2;
  }
}

.card--full-click {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}