//////////////////////
// Closeable elements
//////////////////////

.closeable--closed {
  display: none;

  @include breakpoint(large) {
    display: block;
  }
}

.closeable--expanded {

  @include breakpoint(large) {
    display: none;
  }
}

