<li>
  <a href="#">About</a>
  <a class="dropdown-toggler hide-for-large"><i class="fa fa-chevron-down icon"></i></a>
  {{> about-sub-nav}}
</li>
<li>
  <a href="#">Prizes</a>
  <a class="dropdown-toggler hide-for-large"><i class="fa fa-chevron-down icon"></i></a>
  {{> prizes-sub-nav}}
</li>
<li>
  <a href="#">Visioneers</a>
  <!--<a class="dropdown-toggler hide-for-large"><i class="fa fa-chevron-down icon"></i></a>-->
</li>
<li>
  <a href="#">News</a>
</li>
<li>
  <a href="#">Benefactors</a>
  <a class="dropdown-toggler hide-for-large"><i class="fa fa-chevron-down icon"></i></a>
  {{> benefactors-sub-nav}}
</li>
<li>
  <a href="#">Donate</a>
  <!--<a class="dropdown-toggler hide-for-large"><i class="fa fa-chevron-down icon"></i></a>-->
  <!--{{> prizes-sub-nav}}-->
</li>