<li class="xprize-custom-dropdown">
  <a href="#">About</a>
  <a data-attribute-show="about-xprize-footer" class="dropdown-toggler show-for-small"><i class="fa fa-chevron-down icon"></i></a>
  <div class="about-xprize-footer custom-dropdown-content xprize-links-sub">
    {{> about-sub-nav }}
  </div>
  <div class="clearfix"></div>
</li>
<li class="xprize-custom-dropdown">
  <a href="http://xprize.org/prizes">Prizes</a><a data-attribute-show="xprize-prizes-footer" class="dropdown-toggler show-for-small"><i class="fa fa-chevron-down icon"></i></a>
  <div class="xprize-prizes-footer custom-dropdown-content xprize-links-sub">
    {{> prizes-sub-nav }}
  </div>
  <div class="clearfix"></div>
</li>
<li class="xprize-custom-dropdown">
  <a href="http://xprize.org/grand-challenges">Grand Challenges</a><a data-attribute-show="grand-challenges-footer" class="dropdown-toggler show-for-small"><i class="fa fa-chevron-down icon"></i></a>
  <div class="grand-challenges-footer custom-dropdown-content xprize-links-sub">
    {{> gc-sub-nav }}
  </div>
  <div class="clearfix"></div>
</li>
<li class="xprize-custom-dropdown">
  <a href="http://xprize.org/news">Ideas & Innovation</a><a data-attribute-show="ideas-innovation-footer" class="dropdown-toggler show-for-small"><i class="fa fa-chevron-down icon"></i></a>
  <div class="ideas-innovation-footer custom-dropdown-content xprize-links-sub">
    {{> ideas-sub-nav }}
  </div>
  <div class="clearfix"></div>
</li>
<li class="xprize-custom-dropdown">
  <a href="http://xprize.org/benefactors">Benefactors</a><a data-attribute-show="benefactors-drop-footer" class="dropdown-toggler show-for-small"><i class="fa fa-chevron-down icon"></i></a>
  <div class="benefactors-drop-footer custom-dropdown-content xprize-links-sub">
    {{> benefactors-sub-nav }}
  </div>
  <div class="clearfix"></div>
</li>
<li>
  <a href="#">Donate</a>
</li>