////////////////////////////
// Hero organism
///////////////////////////
.hero-outer {
  background-color: $black;
  position: relative;
  overflow: hidden;
}

.hero {
  background-size: cover;
  background-position: center;
  display: flex;
  height: 65vh;
  min-height: rem-calc(450);
  max-height: rem-calc(520);
  padding-bottom: rem-calc(45);
  padding-top: $topbar-height;
  position: relative;

  &:after {
    background-color: $hero-overlay-bg;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  > .row {
    position: relative;
    z-index: 2;

    > div {
      margin-bottom: rem-calc(20);

      @include breakpoint(medium) {
        margin-bottom: 0;
      }
    }
  }

  .button {
    color: $white;
  }
}

.hero--wrapper {

  @include breakpoint(large) {
    align-items: flex-end;
  }
}

.hero--main-article {
  h3 {
    color: $white;
  }
}

.hero--sub-articles {
  background: $body-font-color;
  text-align: right;

  @include breakpoint(medium) {
    background: transparent;
    justify-content: flex-end;
  }

  article {
    border-top: rem-calc(4) solid $white;
    padding: $global-padding;

    @include breakpoint(large) {
      border-top: 0 none;
      padding: 0;
    }
  }

  h5 {
    color: $primary-color;
    text-transform: uppercase;
  }

  .button {
    color: $white;
  }
}


.hero--see-more {
  @include center('x');
  bottom: rem-calc(16);
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;

  a {
    color: $white;
    display: block;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include breakpoint(medium) {
      font-size: rem-calc(10);
    }

    &:before {
      content: '\f078';
      display: block;
      font-family: $fontawesome;
      font-size: rem-calc(20);
    }
  }
}