/////////////////////
// Submenu organism
/////////////////////

.dropdown-toggler {

  &.showing-toggle {

    i {
      transform: rotate(180deg);
    }
  }
}

.submenu {
  //column-count: 2;
  list-style: none;
  margin: 0;
  padding: 0;

  @include breakpoint(large) {
    background-color: $white;
  }

  &.js-dropdown-active {
     display: flex;
     //flex-direction: column;
     flex-wrap: wrap;

     li {
       flex: 1 0 300px;
       max-width: 50%;
     }
   }

  a {
    color: $dark-gray;
    display: block;
    padding-bottom: rem-calc(8);
    padding-top: rem-calc(8);
  }

  .menu {
    flex-wrap: wrap;
    padding: 0;

    @include breakpoint(large) {
      max-width: rem-calc(420);
    }

    > li {
      flex: 0 0 100%;

      @include breakpoint(large) {
        flex: 0 0 50%;
      }
    }
  }
}

// Drupal overrides
.dropdown {

  .menu-minipanel-xprize-submenu {
    background-color: transparent;
    display: none;
    left: initial;
    top: 110%;
    position: static;
    margin: 0;
    list-style: none;

    @include breakpoint(large) {
      display: block;
      position: absolute;
    }

    .panel-display {
      background-color: transparent;
    }

    .col-md-12 {
      padding: 0;
    }
  }
}